.footer{
    background-color: lightgray;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    border-top: 1px solid gray;
    bottom: 0px;
    position: absolute;
    width: 100%;
}