#
name: CI/CD

on: [pull_request, push]

jobs:
  continuos-integration:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Using Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.
      - name: run install and build
        run: |
          npm install
          npm run build
      - name: Disparar Vercel
        run: |
          curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_skoB6VJAIVsWxNzHyhKgd1R7Qwqa/6LXRwHOo56